# {{ ansible_managed }}

net.listen('127.0.0.1', 53, { kind = 'dns' })
net.listen('127.0.0.1', 853, { kind = 'tls' })
net.listen('::1', 53, { kind = 'dns', freebind = true })
net.listen('::1', 853, { kind = 'tls', freebind = true })

{%- if service_ip4 is defined %}
net.listen('{{ service_ip4 }}', 53, { kind = 'dns' })
net.listen('{{ service_ip4}}', 853, { kind = 'tls' })
{% endif %}
{%- if service_ip6 is defined %}
net.listen('{{ service_ip6 }}', 53, { kind = 'dns' })
net.listen('{{ service_ip6 }}', 853, { kind = 'tls' })
{% endif %}

modules = {
        'hints > iterate',  -- Load /etc/hosts and allow custom root hints
        'stats',            -- Track internal statistics
        'predict',          -- Prefetch expiring/frequent records
}

cache.size = {{ kresd_cachesize }} * MB

{% if kresd_prefix_ip4 is defined %}
modules.load('view')
view:addr('127.0.0.0/8', policy.all(policy.PASS))
view:addr('{{ kresd_prefix_ip4 }}', policy.all(policy.PASS))
view:addr('0.0.0.0/0', policy.all(policy.DROP))
{% endif %}

{% if kresd_prefix_ip6 is defined %}
modules.load('view')
view:addr('::1/128', policy.all(policy.PASS))
view:addr('{{ kresd_prefix_ip6 }}', policy.all(policy.PASS))
view:addr('::/0', policy.all(policy.DROP))
{% endif %}
